.hero {
    background-color: #609eaf;
    width: 686px;
    height: 373px;
    border-radius: 40px;
    padding: 2.5em;
}

.currated-playlist {
    font-size: 12px;
    font-weight: 400;
}

.hero-header p {
    width: 276px;
    padding: 1em 0;
}

.hero-header {
    padding: 4em 0;
}

.likes {
    display: flex;
    align-items: center;
    gap: .5em;
}

.avatars > img:not(:first-child) {
    margin-left: -10px;
}