.logo {
    margin-bottom: 2em;
}

.side-bar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50px;
    margin: 2em;
}

.nav__links {
    background-color: #1A1E1F;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    padding: 1em 0;
}

.nav__links > * {
    padding: .8em;
}

.nav__links-account {
    margin-top: 1em;
}