.charts-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 417px;
    height: 96px;
    background-color: #1a1e1f;
    border-radius: 20px;
    padding: 1em;
    margin: 1em 0;
}

.left {
    display: flex;
    gap: 1em;
}

.charts-card h3 {
    font-size: 17px;
    font-weight: 400;
    line-height: 20.4px;
}

.charts-card p {
    font-size: 12px;
}

.artist {
    opacity: 50%;
    font-weight: 400;
    line-height: 14.4px;
    padding: .3em 0;
}

.charts-card .like-icon {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.06);
    display: flex;
    align-items: center;
    justify-content: center;
}